Repository ahmedtd/row-major.net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: medtracker/upload-images-and-update-manifest, sharded-controller/upload-images-and-update-manifest, rumor-mill/upload-images-and-update-manifest, row-major-web/upload-images-and-update-manifest, deploy-medtracker-manifest, deploy-manifest

medtracker/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

sharded-controller/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

rumor-mill/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

row-major-web/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

deploy-medtracker-manifest:
  stage: deploy
  resource_group: medtracker-prod
  environment:
    name: production
    url: https://medtracker.dev/
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  ...

deploy-manifest:
  stage: deploy
  resource_group: prod
  environment:
    name: production
    url: https://row-major.net/
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  ...

MedTracker: Split build and deploy
  .github/workflows/medtracker-build.yml
  .github/workflows/medtracker-deploy.yml
Due: none

MedTracker: Use Go 1.22 routing
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Update to push to artifact registry
  .github/workflows/medtracker-build.yml
Due: none

medtracker: Deploy new production images
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

webalator: Build and deploy from Github actions
  .github/workflows/row-major-web-build.yml
  .github/workflows/row-major-web-deploy.yml
  .gitlab-ci.yml
  manifests/base/kustomization.yaml
  manifests/row-major-web/base/kustomization.yaml
  manifests/row-major-web/base/row-major-web.yaml
  manifests/row-major-web/production/kustomization.yaml
  manifests/row-major-web/production/row-major-web-production-images.merge.yaml
  webalator/BUILD.bazel
Due: row-major-web/upload-images-and-update-manifest

The repo doesn't build on latest bazel
  .github/workflows/row-major-web-build.yml
Due: none

Fix bazel version env var
  .github/workflows/row-major-web-build.yml
Due: none

webalator: Deploy new image
  manifests/row-major-web/production/row-major-web-production-images.merge.yaml
Due: none

webalator: Fix deploy
  .github/workflows/row-major-web-deploy.yml
  manifests/production/kustomization.yaml
Due: deploy-manifest

Remove Gitlab CI config
  .gitlab-ci.yml
Due: none

Clean up old kustomize manifests
  manifests/base/infra-gateway.yaml
  manifests/base/kustomization.yaml
  manifests/base/mastodon-tenant.yaml
  manifests/base/rumor-mill.yaml
  manifests/base/sharded-controller.yaml
  manifests/production/kustomization.yaml
  manifests/production/rumor-mill-poller-production-images.merge.yaml
  manifests/production/sharded-controller-production-images.merge.yaml
Due: deploy-manifest

Revert gateway deletion
  manifests/base/infra-gateway.yaml
  manifests/base/kustomization.yaml
Due: none

medtracker: Add debug port on service
  manifests/medtracker/base/medtracker.yaml
Due: deploy-medtracker-manifest

medtracker: Configure explicit health checks
  manifests/medtracker/base/medtracker.yaml
Due: deploy-medtracker-manifest

medtracker: Configure explicit health check
  manifests/medtracker/base/medtracker.yaml
Due: deploy-medtracker-manifest

medtracker: Build with Go 1.24
  .github/workflows/medtracker-build.yml
Due: none

medtracker: Update images
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: Can only do one health check?
  manifests/medtracker/base/medtracker.yaml
Due: deploy-medtracker-manifest

medtracker: Use new 1.22 servemux routing properly
  .github/workflows/medtracker-build.yml
  go.mod
  go.sum
  medtracker/cmd/poller/BUILD.bazel
  medtracker/cmd/poller/main.go
  medtracker/cmd/webui/BUILD.bazel
  medtracker/cmd/webui/main.go
  medtracker/dblayer/BUILD.bazel
  medtracker/dblayer/dblayer.go
  medtracker/poller/BUILD.bazel
  medtracker/poller/poller.go
  medtracker/webui/BUILD.bazel
  medtracker/webui/uitemplates/BUILD.bazel
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

Pin older bazel version when using bazelisk
  .bazelversion
Due: none

medtracker: Deploy new build
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: Remove --logtostderr
  manifests/medtracker/base/medtracker.yaml
Due: deploy-medtracker-manifest

Make build and deploy conditional
  .github/workflows/medtracker-build.yml
  .github/workflows/medtracker-deploy.yml
  .github/workflows/row-major-web-build.yml
  .github/workflows/row-major-web-deploy.yml
Due: none

medtracker: ServeMux routing properly handles bare paths now
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy b4deb11e68ff76b79eae598b155e5691d1c96b23
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

Revert "medtracker: Deploy b4deb11e68ff76b79eae598b155e5691d1c96b23"
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

Reapply "medtracker: Deploy b4deb11e68ff76b79eae598b155e5691d1c96b23"
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: JSON log output
  medtracker/cmd/webui/main.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy 5656266881420c34993881403e71c3b21ef87aab
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: slog use "message", sourceLocation, httpRequest
  medtracker/cmd/webui/main.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy 1a475ff11abfee4dc9602258099aa1e66e9c389a
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: Fix requestUrl, capture status
  medtracker/cmd/webui/main.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy 7375536e8a98363f999d7370e52619153bc6bbe4
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: Check behavior of Cloud Logging httpRequest
  medtracker/cmd/webui/main.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Add log-line when user is determined
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy f3a03d38ef4d2f8543f99cc247b592edb6748b01
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

medtracker: Remove random attribute
  medtracker/cmd/webui/main.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Also log user in checkSession
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

medtracker: Deploy a9b3d485c19de91a7e753f4d02d11816a9beb99a
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

Path conditions:
  medtracker/upload-images-and-update-manifest: any of: medtracker/**/*
  sharded-controller/upload-images-and-update-manifest: any of: shardedcontroller/**/*
  rumor-mill/upload-images-and-update-manifest: any of: rumor-mill/**/*
  row-major-web/upload-images-and-update-manifest: any of: webalator/**/*
  deploy-medtracker-manifest: any of: manifests/medtracker/**/*
  deploy-manifest: any of: manifests/production/*
