Repository ahmedtd/row-major.net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: medtracker/upload-images-and-update-manifest, sharded-controller/upload-images-and-update-manifest, rumor-mill/upload-images-and-update-manifest, row-major-web/upload-images-and-update-manifest, deploy-medtracker-manifest, deploy-manifest

medtracker/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

sharded-controller/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

rumor-mill/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

row-major-web/upload-images-and-update-manifest:
  stage: upload-images
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  - gcloud auth configure-docker gcr.io
  ...

deploy-medtracker-manifest:
  stage: deploy
  resource_group: medtracker-prod
  environment:
    name: production
    url: https://medtracker.dev/
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  ...

deploy-manifest:
  stage: deploy
  resource_group: prod
  environment:
    name: production
    url: https://row-major.net/
  needs: []
  image: gcr.io/google.com/cloudsdktool/cloud-sdk
  script:
  - gcloud auth activate-service-account --key-file=${GCP_SA_KEY_FILE}
  ...

Infra: Target new autopilot cluster, really
  .gitlab-ci.yml
Due: none

Rumor Mill: Fix poller image
  manifests/production/rumor-mill-poller-production-images.merge.yaml
Due: deploy-manifest

Add initial github action
  .github/workflows/push.yml
Due: none

Fixup Github actions
  .github/workflows/push.yml
Due: none

Github Actions: Service account impersonation is required
  .github/workflows/push.yml
Due: none

Github Actions: Checkout step is needed
  .github/workflows/push.yml
Due: none

Github Actions: Also specify billing project
  .github/workflows/push.yml
Due: none

Github Actions: Use Bazel
  .github/workflows/push.yml
Due: none

Github Actions: Exclude cloud-checkout; try pushing images
  .github/workflows/push.yml
Due: none

Github Actions: Exclude harpoon from testing
  .github/workflows/push.yml
Due: none

Github Actions: Wire up deploys
  .github/workflows/push.yml
Due: none

Github Actions: Build all images
  .github/workflows/push.yml
Due: none

Bump medtracker poller images
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
Due: deploy-medtracker-manifest

Github Actions: Auth step needs config
  .github/workflows/push.yml
Due: none

Github Actions: Need to inject token
  .github/workflows/push.yml
Due: none

Github Actions: Fix billing project
  .github/workflows/push.yml
Due: none

Github Actions: Correct cluster name
  .github/workflows/push.yml
Due: none

Github Actions: gke-gcloud-auth-plugin
  .github/workflows/push.yml
Due: none

MedTracker: Rename patients -> people
  go.mod
  go.sum
  medtracker/webui/uitemplates/createmedication.go
  medtracker/webui/uitemplates/listpatients.go
  medtracker/webui/uitemplates/listpeople.go
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

ArtBoard: Random stuff
  artboard/cmd/webui/main.go
  artboard/dblayer/dblayer.go
  artboard/dbtypes/dbtypes.go
  artboard/webui/uitemplates/base.go
  artboard/webui/uitemplates/home.go
  artboard/webui/uitemplates/listcollections.go
  artboard/webui/uitemplates/login.go
  artboard/webui/webui.go
Due: none

MedTracker: Build webui using go/Docker toolchain
  .github/workflows/push.yml
  medtracker-webui.Dockerfile
  medtracker/cmd/webui/main.go
  medtracker/poller/poller.go
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

MedTracker: Fix actions permissions
  .github/workflows/push.yml
Due: none

MedTracker: Fix build
  .github/workflows/push.yml
Due: none

Disable bazel image pushes
  .github/workflows/push.yml
Due: none

Deploy medtracker
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

MedTracker: Try building the binary outside of docker
  .github/workflows/push.yml
  medtracker-webui.Dockerfile
  medtracker/cmd/webui/Dockerfile
Due: medtracker/upload-images-and-update-manifest

MedTracker: Fix external build
  .github/workflows/push.yml
Due: none

MedTracker: List checkout files
  .github/workflows/push.yml
Due: none

MedTracker: Oops, it's `go get`
  .github/workflows/push.yml
Due: none

MedTracker: Do I need an install step
  .github/workflows/push.yml
Due: none

MedTracker: Build fixed?
  .github/workflows/push.yml
  medtracker/cmd/webui/Dockerfile
Due: medtracker/upload-images-and-update-manifest

MedTracker: Deploy new image
  .github/workflows/push.yml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

MedTracker: I think distroless doesn't have glibc
  .github/workflows/push.yml
Due: none

MedTracker: Deploy new image
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

MedTracker: Clean up more patients->people
  medtracker/webui/uitemplates/createmedication.go
  medtracker/webui/uitemplates/createperson.go
  medtracker/webui/uitemplates/home.go
  medtracker/webui/uitemplates/listpeople.go
  medtracker/webui/uitemplates/recordmedicationrefill.go
  medtracker/webui/uitemplates/showpatient.go
  medtracker/webui/webui.go
Due: medtracker/upload-images-and-update-manifest

MedTracker: Build poller image without bazel
  .github/workflows/push.yml
  medtracker/cmd/poller/Dockerfile
Due: medtracker/upload-images-and-update-manifest

MedTracker: Fix poller build
  medtracker/cmd/poller/Dockerfile
Due: medtracker/upload-images-and-update-manifest

MedTracker: Deploy
  manifests/medtracker/production/medtracker-poller-production-images.merge.yaml
  manifests/medtracker/production/medtracker-webui-production-images.merge.yaml
Due: deploy-medtracker-manifest

MedTracker: Reproducible binary builds
  .github/workflows/push.yml
Due: none

Path conditions:
  medtracker/upload-images-and-update-manifest: any of: medtracker/**/*
  sharded-controller/upload-images-and-update-manifest: any of: shardedcontroller/**/*
  rumor-mill/upload-images-and-update-manifest: any of: rumor-mill/**/*
  row-major-web/upload-images-and-update-manifest: any of: webalator/**/*
  deploy-medtracker-manifest: any of: manifests/medtracker/**/*
  deploy-manifest: any of: manifests/production/*
