Repository ahmedtd/row-major.net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Upload Sharded Controller Images, Upload Rumor Mill Image, Upload Webalator Image, Apply Manifest

Path conditions:
  Upload Sharded Controller Images: any of: shardedcontroller/*
  Upload Rumor Mill Image: any of: rumor-mill/*
  Upload Webalator Image: any of: webalator/*
  Apply Manifest: any of: manifests/*

Manifest update for 1bc389954fcb1f4c5072e52114512e7f151fa81c
  manifests/production/production-images.patch.yaml
  manifests/production/rendered.yaml
Due: none

Manifest update for c0beb018d99cee665919793c3a2d4ea235841338
  manifests/production/production-images.patch.yaml
  manifests/production/rendered.yaml
Due: none

Gitlab CI: Break apart the monolithic manifest update
  .gitlab-ci.yml
  manifests/production/kustomization.yaml
  manifests/production/production-images.patch.yaml
  manifests/production/row-major-web-production-images.merge.yaml
  manifests/production/rumor-mill-production-images.merge.yaml
  manifests/production/sharded-controller-production-images.merge.yaml
Due: none

Gitlab CI: Try to fix complaints
  .gitlab-ci.yml
Due: none

Gitlab CI: Is "needs" position-sensitive?
  .gitlab-ci.yml
Due: none

Gitlab CI: More fix attempts
  .gitlab-ci.yml
Due: none

Gitlab CI: Try removing rules
  .gitlab-ci.yml
Due: none

Gitlab CI: Try removing more rules
  .gitlab-ci.yml
Due: none

Gitlab CI: Fix up the DAG, add warning
  .gitlab-ci.yml
Due: none

Force rebuilds
  rumor-mill/FORCE_REBUILD
  shardedcontroller/FORCE_REBUILD
  webalator/FORCE_REBUILD
Due: Upload Sharded Controller Images, Upload Rumor Mill Image, Upload Webalator Image

Gitlab CI: Fix manifest update, force rebuild
  .gitlab-ci.yml
  rumor-mill/FORCE_REBUILD
  shardedcontroller/FORCE_REBUILD
  webalator/FORCE_REBUILD
Due: Upload Sharded Controller Images, Upload Rumor Mill Image, Upload Webalator Image

Gitlab CI: Debug push manifest stage
  .gitlab-ci.yml
  webalator/FORCE_REBUILD
Due: Upload Webalator Image

Gitlab CI: Move kustomization to the deploy step
  .gitlab-ci.yml
  manifests/production/rendered.yaml
Due: none

Gitlab CI: (Fix) Move kustomization to the deploy step
  .gitlab-ci.yml
Due: none

Gitlab CI: Fix path wildcards
  .gitlab-ci.yml
Due: none

Gitlab CI: Fix manifest update; force rebuild of row-major-web
  .gitlab-ci.yml
  rumor-mill/FORCE_REBUILD
Due: Upload Rumor Mill Image

Bump gcr.io/bomsync-214520/rumor-mill to foo in rumor-mill/rumor-mill
  manifests/production/rumor-mill-production-images.merge.yaml
Due: none

Gitlab CI: Use an in-repo binary to do the manifest update
  .gitlab-ci.yml
  infra-tools/bump-manifest/BUILD.bazel
  infra-tools/bump-manifest/main.go
  webalator/FORCE_REBUILD
Due: Upload Webalator Image

Gitlab CI: Force rebuild of row-major-web
  webalator/FORCE_REBUILD
Due: Upload Webalator Image

Gitlab CI: Integrate testing into push stages
  .gitlab-ci.yml
  infra-tools/bump-manifest/main.go
  webalator/FORCE_REBUILD
Due: Upload Webalator Image

Gitlab CI: Test whole repo for each job
  .gitlab-ci.yml
Due: none

Gitlab CI: Force webalator rebuild
  webalator/FORCE_REBUILD
Due: Upload Webalator Image

Bump gcr.io/bomsync-214520/webalator to b3966549e76d8d480f50f7f9eab27eb0392bca5b in row-major-web/row-major-web-content-deployment
  manifests/production/row-major-web-production-images.merge.yaml
Due: none

webalator: Use federated identity
  manifests/base/row-major-web.yaml
Due: none

Force rebuild of rumor-mill
  rumor-mill/FORCE_REBUILD
Due: Upload Rumor Mill Image

Bump gcr.io/bomsync-214520/rumor-mill to 2274ea8fbcb0243fc33d87e58476ae3a6ac3c6db in rumor-mill/rumor-mill
  manifests/production/rumor-mill-production-images.merge.yaml
Due: none

rumor-mill: Push target was wrong
  rumor-mill/BUILD.bazel
Due: Upload Rumor Mill Image

Bump gcr.io/bomsync-214520/rumor-mill to 1ad3d16dc6b6544abf517fa5d74f36852d571f2f in rumor-mill/rumor-mill
  manifests/production/rumor-mill-production-images.merge.yaml
Due: none

rumor-mill: Push tag was wrong
  rumor-mill/BUILD.bazel
Due: Upload Rumor Mill Image

shardedcontroller: Push tag was wrong
  shardedcontroller/BUILD.bazel
Due: Upload Sharded Controller Images

Bump gcr.io/bomsync-214520/rumor-mill to 605ece46b1a1f41c5ae7554f4b88df1ac1391c0e in rumor-mill/rumor-mill
  manifests/production/rumor-mill-production-images.merge.yaml
Due: none

Bump gcr.io/bomsync-214520/shardedcontroller to 3a74542b8df3d7153a1a43000cd36cac182c70bc in sharded-controller/sharded-controller
  manifests/production/sharded-controller-production-images.merge.yaml
Due: none

medtracker: Initial commit
  .gitlab-ci.yml
  manifests/base/kustomization.yaml
  manifests/base/medtracker.yaml
  manifests/production/kustomization.yaml
  manifests/production/medtracker.merge.yaml
  medtracker/cmd/medtracker/BUILD.bazel
  medtracker/cmd/medtracker/main.go
  medtracker/poller/BUILD.bazel
  medtracker/poller/poller.go
Due: none

medtracker: Add alerts based on prescription length
  manifests/production/kustomization.yaml
  manifests/production/medtracker-production-images.merge.yaml
  medtracker/poller/poller.go
Due: none

Bump gcr.io/bomsync-214520/medtracker to f908deb3e5421e737f0aa7e38129c5a505a363fc in medtracker/medtracker
  manifests/production/medtracker-production-images.merge.yaml
Due: none

medtracker: Fix prescription alerts
  medtracker/poller/poller.go
Due: none

Bump gcr.io/bomsync-214520/medtracker to d2e1dfe3d1cfe2d4682cf24f7be6a6aa102b2831 in medtracker/medtracker
  manifests/production/medtracker-production-images.merge.yaml
Due: none

medtracker: Remove stock tracking
  medtracker/poller/poller.go
Due: none

Bump gcr.io/bomsync-214520/medtracker to 43f475ed6e078e4eacb1a3f8d45f2049f5205b37 in medtracker/medtracker
  manifests/production/medtracker-production-images.merge.yaml
Due: none
